a {
  font-size: 14px;
  color: #181e4b;
  position: relative;
}

a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #181e4b;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out;
}

a:hover:after {
  visibility: visible;
  transform: scaleX(1);
}

.basic-button {
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.basic-button:hover {
  transform: scale(1.02);
}

.classic-button {
  border: 1px solid #181e4b;
  color: #181e4b;
  font-size: 14px;
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.classic-button:hover {
  background-color: #181e4b;
  color: #ffffff;
  transition: 0.3s ease-in;
}

.hero-button {
  background-color: #d30f19;
  border: #d30f19;
  color: #ffffff;
  width: fit-content;
  transition: 0.2s ease-in-out;
}

.hero-button:hover {
  background-color: #d30f19;
  border: #d30f19;
  transform: scale(1.02);
}

.arrow-button {
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin: 5px 20px;
}

.arrow-button:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.white-button {
  color: #ffffff;
}
.white-button:after {
  background-color: #ffffff;
}

.white-button:hover:after {
  transform: scaleX(0);
}
