.signin {
  max-width: 1060px;
}

.signin-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 100px;
}

form {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  margin: 20px;
}

.user-input-area {
  margin-bottom: 10px;
}

.signin-submit {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.signin-submit input {
  width: 100%;
}

.error-msg {
  text-align: center;
  color: #d30f19;
}
