footer {
  text-align: center;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0 20px 0;
}

.footer-exploratio,
.footer-companhia,
.footer-contato,
.footer-mais,
.footer-redes {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin: 30px;
  gap: 20px;
  max-width: 200px;
}

.footer-redes {
  text-align: center;
  align-items: center;
}

.footer-redes-sociais {
  flex-direction: row;
}

.app-logo {
  width: 100px;
}
