.hotel {
  width: 1060px;
}

.hoteis {
  margin: 50px;
}

.area-hoteis {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 15px;
}

.hotel-input {
  width: 250px;
  padding: 15px 10px;
  border-radius: 8px;
  border: 2px solid #ffffff;
  color: #181e4b;
}

.hotel-input:hover,
.hotel-input:focus {
  outline: 0;
}

.area-form {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-height: 50px;
}

.area-escolha-hotel {
  display: flex;
  flex-wrap: wrap;
  max-width: 1060px;
  gap: 20px;
  margin: 50px 0;
  text-align: center;
}
