.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}

.nav-heading {
  margin-right: 100px;
}

.nav-links {
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .nav-heading {
    margin-right: 50px;
  }
}
