.assessment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
  gap: 20px;
}

.assessment-each {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 10px;
  max-width: 700px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 2px #00000033;
  background-color: #ffffff;
}

.person {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.person-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.person p {
  font-size: 12px;
}

.assessment-general {
  display: flex;
  align-items: center;
}
